.main-header {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  padding: 0% 10%;
  background-color: #c8c7c7;
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.25);
  align-items: center;
}

.header-title {
  letter-spacing: 0.5rem;
  color: #2a2a2a;
  text-shadow: 0 10px 8px rgba(0, 0, 0, 0.5);
}

.header-btn-area {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  width: max-content;
  padding-right: 5%;
  height: 5rem;
  align-items: center;
}
